<a href="https://colab.research.google.com/github/alagappanar2/Mentor_Task-PyMongo-/blob/main/Mentor_Task_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project**

In [1]:
from pymongo import MongoClient

TASK=MongoClient("mongodb://Alagappan:Alagappan123@ac-fndnntn-shard-00-00.8n5arko.mongodb.net:27017,ac-fndnntn-shard-00-01.8n5arko.mongodb.net:27017,ac-fndnntn-shard-00-02.8n5arko.mongodb.net:27017/?ssl=true&replicaSet=atlas-b4esxn-shard-0&authSource=admin&retryWrites=true&w=majority")

In [2]:
A=TASK["sample_mflix"]

In [3]:
PROJECT=A["movies"]

In [4]:
data=[]
for i in PROJECT.find({'$or':[{'$and':[{'year':{'$gte':1950,'$lte':1970}},
                                       {'tomatoes.viewer.rating':{'$gt':3}},
                                       {'imdb.rating':{'$gt':7}},
                                       {'awards.wins':{'$gte':1}},
                                       {'genres':{'$in':['Comedy','Horror','Fantasy']}}]},
                              {'$and':[{'year':{'$gte':2000,'$lte':2015}},
                                       {'tomatoes.viewer.rating':{'$gt':3}},
                                       {'imdb.rating':{'$gt':7}},{'awards.wins':{'$gte':1}},
                                       {'genres':{'$in':['Comedy','Horror','Fantasy']}}]}]},
                      {'_id':0,'title':1,' music director name':1,'directors':1,'cast':1,'imdb.rating':1,'tomatoes.viewer.rating':1,'year':1}):
     data.append(i)

In [5]:
import pandas as pd
pd.DataFrame(data)

,cast,title,directors,year,imdb,tomatoes
0,"[Judy Holliday, Broderick Crawford, William Ho...",Born Yesterday,[George Cukor],1950,{'rating': 7.7},{'viewer': {'rating': 3.9}}
1,"[Ilene Woods, Eleanor Audley, Verna Felton, Cl...",Cinderella,"[Clyde Geronimi, Wilfred Jackson, Hamilton Luske]",1950,{'rating': 7.3},{'viewer': {'rating': 3.5}}
2,"[Antje Weisgerber, Peter Mosbacher, Jutta Gènt...",Das doppelte Lottchen,[Josef von Bèky],1950,{'rating': 7.1},{'viewer': {'rating': 3.5}}
3,"[James Stewart, Josephine Hull, Peggy Dow, Cha...",Harvey,[Henry Koster],1950,{'rating': 8.1},{'viewer': {'rating': 4.0}}
4,"[Burt Lancaster, Dorothy McGuire, Edmund Gwenn...",Mister 880,[Edmund Goulding],1950,{'rating': 7.2},{'viewer': {'rating': 3.3}}
...,...,...,...,...,...,...
983,"[Seija Airamo, Erkki Broman, Pirjo Mutanen, Ma...",Garden Lovers,[Virpi Suutari],2014,{'rating': 7.3},{'viewer': {'rating': 3.8}}
984,"[Maz Jobrani, John Heard, Deanna Russo, Marsha...",Jimmy Vestvood: Amerikan Hero,[Jonathan Kesselman],2014,{'rating': 8.2},{'viewer': {'rating': 3.5}}
985,"[Asa Butterfield, Rafe Spall, Sally Hawkins, E...",A Brilliant Young Mind,[Morgan Matthews],2014,{'rating': 7.2},{'viewer': {'rating': 4.0}}
986,"[Garrett M. Brown, Rachel DiPillo, Mary Kate W...","Hello, My Name Is Frank",[Dale Peterson],2014,{'rating': 8.3},{'viewer': {'rating': 5.0}}
987,"[Ze'ev Revach, Levana Finkelstein, Aliza Rosen...",The Farewell Party,"[Tal Granit, Sharon Maymon]",2014,{'rating': 7.2},{'viewer': {'rating': 3.9}}